body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calc {
    width: 300px;
    padding: 1rem;
    background-color: #2a2e37;
}

.calc .screen {
    padding: 0.5rem;
    background-color: #2a2e37;
    color: #fff;
    font-size: 2rem;
    text-align: right;
}

.calc .equation {
    min-height: 1.5rem;
}

.calc .result {
    min-height: 4rem;
    font-size: 4rem;
}

.calc .keyboard {
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calc .key {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    background-color: #2f3646;
    aspect-ratio: 9/6;
    font-size: 1.5rem;
}

.calc .key {
    background-color: #c45bdc;
  
}

.calc .key.height-2{
    aspect-ratio: auto;
    grid-row: span 2;
  
}